body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  width: 100%;
  margin: 2em auto;
  padding: 1em 0;
  border-radius: 10px;
  color: white;
  background: black;
  border: none;
  cursor: pointer;
  transition: .2s ease;
}

button:hover {
  background: blue;
}

.spn {
  width: 2em;
  height: 2em;
  background-image: url(./images/spn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: spinning;
  animation-duration: .7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
